#hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url('../../Style/Images/website photo 1.jpg');
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    color: var(--white);
    display: flex;
    flex-flow: column nowrap;
    padding: 0.25rem;
}

#hero-content h2 {
    font-size: 4rem;
    margin: auto;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#hero-content {
    margin: auto;
}

#hero-content ul {
    list-style: none;
}

#hero-content ul li {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#hero-buttons {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.hero-button {
    font-size: 1.5rem;
    padding: 1rem;
    outline: none;
    border: none;
    margin: 1rem 0.5rem 0rem 0.5rem;
    color: white;
    text-decoration: none;
    transition: filter ease 0.3s;
    box-shadow: 2px 2px 2px black;
}

.hero-button:hover {
    filter: brightness(85%);
}

.hero-button:active {
    transform: translateY(0.5rem);
}

#work-link {
    background-color: var(--accent-orange);
}

#story-link {
    background-color: var(--accent-red);
}

span {
    font-size: inherit;
    padding: 0 0.5rem;
}

#hero-resume-link {
    background-color: var(--accent-blue);
}

#Home section h3 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.25rem;
}

.white-section p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.white-section h3 {
    text-align: left;
}

.white-section h4 {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem 0;
}

#white-2 ul li {
    height: 50px;
}

#white-2 ul li img {
    height: 100%;
}

.color-1, .color-2, .color-3 {
    color: white;
    font-size: 1.5rem;
}

.color-1, .color-2, .color-3, .white-section {
    padding: 1rem;
}

.white-section ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.white-section ul li {
    margin: 1rem;
}

.color-1 h3, .color-2 h3, .color-3 h3 {
    text-align: right;
}

#triangle-1, #triangle-2, #triangle-3, #triangle-4, #triangle-5, #triangle-6 {
    height: 0;
    width: 0;
}

.color-1 {
    background-color: var(--accent-orange);
}

#color-1-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
}

#color-1-content ul {
    align-self: flex-end;
    justify-self: flex-end;
    list-style: none;
    text-align: right;
}

#color-1-content > ul li {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

#color-1-content ul li > ul li {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}

.color-2 {
    background-color: var(--accent-red);
}

#color-2-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
}

#color-2-content > a {
    text-align: right;
    text-decoration: none;
    color: var(--accent-red);
    background-color: white;
    padding: 1rem;
    font-size: 1.25rem;
    transition: filter ease 0.3s;
    margin: 1rem 0 1rem auto;
}

#color-2-content > a:hover {
    cursor: pointer;
    filter: brightness(85%);
}

#color-2-content p {
    text-align: right;
    margin: 1rem 0;
    font-size: 1.5rem;
}

#color-2-content ul {
    display: flex;
    list-style: none;
    align-self: flex-end;
}

#color-2-content ul li {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1rem;
}

#color-2-content ul li a {
    height: 100%;
    width: 100%;
    transition: filter ease 0.3s;
    margin: 1rem 0;
}

#color-2-content ul li a:hover {
    filter: brightness(85%);
}

#color-2-content ul li img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.color-3 {
    background-color: var(--accent-blue);
}

#color-3-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
}

#color-3-content p {
    text-align: right;
    margin: 1rem 0;
    font-size: 1.5rem;
}

#color-3-content ul {
    display: flex;
    list-style: none;
    align-self: flex-end;
}

#color-3-content ul li {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1rem;
}

#color-3-content ul li a {
    height: 100%;
    width: 100%;
    margin: 1rem 0;
    transition: filter ease 0.3s;
}

#color-3-content ul li a:hover {
    filter: brightness(85%);
}

#color-3-content ul li a img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

@media screen and (min-width: 600px)
{

    #hero {
        height: 800px;
        background-position: center center;
    }

    #hero-content {
        justify-content: flex-start;
    }

    #white-1 {
        padding-top: 4rem;
    }

    #triangle-1 {
        border-left: 2000px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 100px solid var(--accent-orange);
    }

    #triangle-2, #triangle-4 {
        border-left: 2000px solid transparent;
        border-top: 100px solid var(--accent-orange);
        border-bottom: 10px solid transparent;
    }

    #triangle-3 {
        border-left: 2000px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 100px solid var(--accent-red);
    }

    #triangle-4 {
        border-left: 2000px solid transparent;
        border-top: 100px solid var(--accent-red);
        border-bottom: 10px solid transparent;
    }

    #triangle-5 {
        border-left: 2000px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 100px solid var(--accent-blue);
    }

    #triangle-6 {
        border-left: 2000px solid transparent;
        border-top: 100px solid var(--accent-blue);
        border-bottom: 10px solid transparent;
    }

    .color-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            ". content";
    }

    #color-1-content {
        grid-area: content;
    }
}