/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 versions
*/

header {
    display: -ms-grid;
    display: grid;
    padding: 0.5rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title media"
        "nav nav";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--offwhite);
}

header h1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    font-size: 3rem;
    color: var(--accent-orange);
    font-weight: bold;
    grid-area: title;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    margin: 0 1rem;
}

#media {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    width: 100%;
    grid-area: media;
    justify-self: start;
}

#media li {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0.25rem;
}

#email-media-li, #email-media {
    display: none;
}

.mediaLink {
    border-radius: 50%;
    -webkit-transition: -webkit-filter ease 0.3s;
    transition: -webkit-filter ease 0.3s;
    -o-transition: filter ease 0.3s;
    transition: filter ease 0.3s;
    transition: filter ease 0.3s, -webkit-filter ease 0.3s;
}

.mediaLink:hover {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
}

.mediaLink img {
    height: 100%;
    width: 100%;
}

nav {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

nav ul li {
    text-align: center;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-red);
    font-size: 1.5rem;
    border-bottom: 0.5rem solid transparent;
}

.activeNavLink {
    border-bottom: 0.5rem solid var(--accent-red);
}

#resume-link {
    background-color: var(--accent-blue);
    color: white;
    padding: 0.45rem;
    -webkit-transition: -webkit-filter ease 0.3s;
    transition: -webkit-filter ease 0.3s;
    -o-transition: filter ease 0.3s;
    transition: filter ease 0.3s;
    transition: filter ease 0.3s, -webkit-filter ease 0.3s;
    border-bottom: none;
    display: none;
}

#resume-link:hover {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
}

#resume-link-li {
    display: none;
}

@media screen and (min-width: 600px)
{

    #email-media-li, #email-media {
        display: inherit;
    }

    nav {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-grid-column-align: center;
            justify-self: center;
    }

    nav ul {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    #media {
        -ms-grid-column-align: end;
            justify-self: end;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    header {
        padding: 0.4rem 3rem 0.4rem 3rem;
        -ms-grid-columns: 4fr 1fr;
        grid-template-columns: 4fr 1fr;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    header h1 {
        -ms-grid-column-align: start;
            justify-self: start;
        text-align: left;
        font-size: 3.5rem;
    }

    #media {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
    }

    #media li {
        margin: 0 0.5rem;
    }

    #resume-link, #resume-link-li {
        display: inherit;
    }
}

@media screen and (min-width: 800px)
{
    nav {
        -ms-grid-column-align: start;
            justify-self: start;
    }

}