#media {
    display: flex;
    justify-content: center;
    list-style: none;
}

#media li {
    height: 50px;
    width: 50px;
}

.mediaLink {
    border-radius: 50%;
}

.mediaLink img {
    height: 100%;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}