#Bio {
    padding: 1rem;
    background-color: var(--offwhite);
}

#Bio-hero {
    height: 300px;
    background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url('../../Style/Images/website photo 2-min.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
}

#Bio-hero h2 {
    color: white;
    font-size: 4rem;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

#Bio h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
}

#Bio p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1rem;
}

#Bio em {
    font-size: 1.25rem;
    line-height: 2rem;
}

#Bio a {
    font-size: 1.25rem;
    color: var(--accent-blue);
    font-weight: bold;
    line-height: 2rem;
}

@media screen and (min-width: 600px)
{
    #Bio-hero {
        height: 800px;
    }

    #Bio {
        padding: 1rem 5rem;
    }
}

@media screen and (min-width: 800px)
{
    #Bio {
        padding: 1rem 10rem;
    }
}