/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 versions
*/

#Bio {
    padding: 1rem;
}

#Bio-hero {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#Bio-hero h2 {
    color: var(--accent-orange);
    font-size: 4rem;
    margin: auto;
}

#Bio h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
    color: var(--accent-red);
}

#Bio p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1rem;
}

#Bio em {
    font-size: 1.25rem;
    line-height: 2rem;
}

#Bio a {
    font-size: 1.25rem;
    color: var(--accent-blue);
    font-weight: bold;
    line-height: 2rem;
}

@media screen and (min-width: 600px)
{
    #Bio-hero {
        height: 800px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.3)), to(rgba(25, 25, 25, 0.3))), url('../../Style/Images/website photo 2-min.jpg');
        background-image: -o-linear-gradient(rgba(25, 25, 25, 0.3), rgba(25, 25, 25, 0.3)), url('../../Style/Images/website photo 2-min.jpg');
        background-image: linear-gradient(rgba(25, 25, 25, 0.3), rgba(25, 25, 25, 0.3)), url('../../Style/Images/website photo 2-min.jpg');
        background-size: cover;
        background-position: center center;
    }

    #Bio-hero h2 {
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    #Bio {
        padding: 1rem;
    }
}

@media screen and (min-width: 800px)
{
    #Bio {
        padding: 1rem 5rem;
    }
}