@media screen and (min-width: 600px)
{
    #Portfolio {
        margin: 0 5rem;
    }
}

@media screen and (min-width: 800px)
{
    #Portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;
        margin: 1rem 5rem;
    }
}