/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 versions
*/

.PortfolioCard0, .PortfolioCard1, .PortfolioCard2 {
    padding: 0.25rem;
    margin: 0.5rem;
    background-color: white;
}

.PortfolioCard0 {
    border: 2px solid var(--accent-orange);
}

.PortfolioCard1 {
    border: 2px solid var(--accent-red);
}

.PortfolioCard2 {
    border: 2px solid var(--accent-blue);
}

.PortfolioCardImage {
    width: 300px;
    margin: auto;
}

.PortfolioCardImage p {
    color: black;
}

.PortfolioCardImage img {
    width: 300px;
    height: auto;
}

.PortfolioCard-content {
    padding: 1rem;
}

.PortfolioCard-content h2 {
    font-size: 1.75rem;
    padding: 1rem;
    text-transform: capitalize;
    color: var(--accent-orange);
    font-weight: bold;
    text-align: center;
}

.PortfolioCard-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    justify-content: center;
}

.PortfolioCard-content .tech li {
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--accent-red);
    font-weight: bold;
}

.PortfolioCard-content .links li {
    margin: 1rem;
}

.PortfolioCard-content .links li a {
    background-color: var(--accent-blue);
    padding: 0.75rem;
    color: white;
    text-decoration: none;
    -webkit-transition: -webkit-filter ease 0.3s;
    transition: -webkit-filter ease 0.3s;
    -o-transition: filter ease 0.3s;
    transition: filter ease 0.3s;
    transition: filter ease 0.3s, -webkit-filter ease 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.PortfolioCard-content .links li a p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 0.75rem;
}

.PortfolioCard-content .links li a img {
    height: 2rem;
}

.PortfolioCard-content .links li a:hover {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
}

.PortfolioCard-content > p {
    margin: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
    line-height: 2rem;
}