.PortfolioCard0, .PortfolioCard1, .PortfolioCard2 {
    padding: 0.25rem;
    margin: 0.5rem;
}

.PortfolioCard0 {
    background-color: var(--accent-orange);
}

.PortfolioCard1 {
    background-color: var(--accent-red);
}

.PortfolioCard2 {
    background-color: var(--accent-blue);
}

.PortfolioCardImage {
    width: 300px;
    height: auto;
    display: flex;
}

.PortfolioCardImage p {
    color: black;
    margin: auto;
}

.PortfolioCardImage img {
    width: 300px;
    height: auto;
    margin: auto;
}

.PortfolioCard-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

.PortfolioCard-content h3 {
    font-size: 1.75rem;
    padding: 1rem;
    text-transform: capitalize;
    color: var(--accent-orange);
    font-weight: bold;
    text-align: center;
}

.PortfolioCard-content ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.PortfolioCard-content .tech li {
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--accent-red);
    font-weight: bold;
}

.PortfolioCard-content .links li {
    margin: 1rem;
}

.PortfolioCard-content .links li a {
    background-color: var(--accent-blue);
    padding: 0.75rem;
    color: white;
    text-decoration: none;
    transition: filter ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PortfolioCard-content .links li a p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 0.75rem;
}

.PortfolioCard-content .links li a img {
    height: 2rem;
}

.PortfolioCard-content .links li a:hover {
    filter: brightness(85%);
}

.PortfolioCard-content > p {
    margin: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
    line-height: 2rem;
}