/* TO-DO: format the admin cards so that they are easier for me to use */

.pic_container {
    height: 200px;
}

.pic_container img {
    height: 100%;
    width: auto;
}

.AdminCard {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}